@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
    background: #111111;
    font-family: "Nunito";
}

#textInput {
    width: 100%;
    color: #fff;
    font-family: 'Caveat', cursive;
    font-size: 22px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.userInput {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 22px;
    text-align: right;
    line-height: 30px;
    padding-bottom: 10px;
}

.userInput span {
    background-color: #666666;
    padding: 10px;
    border-radius: 2px;
}

.allyText {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 22px;
    text-align: left;
    line-height: 30px;
    padding-bottom: 10px;
}

.allyText span {
    background-color: #222222;
    padding: 10px;
    border-radius: 2px;
}

.wrap {
	  display: flex;
}

.left {
	  flex-basis: 50%;
	  height: 92vh;
	  vertical-align: middle;
	  background-image: url('../resource/model.gif');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
      background-size: auto 100%;
}

.right {
	  color: #7c7c7d;
 	  flex-basis: 50%;
 	  height: 590px;
 	  vertical-align: middle;

}

.scroll {
	overflow: auto;
    min-width: 200px;
    height: 80vh;

}

.footer{
    bottom: 0;
}

.border {
    border: 2px solid white;
}
